fullnameOverride: "${fullname_override}"

postgresql:
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql-repmgr
    tag: 17.6.0-debian-12-r2
  username: "${postgresql_username}"
  database: "${postgresql_database}"
  existingSecret: "${postgresql_secret_name}"
  repmgrUsername: repmgr
  syncReplication: ${postgresql_sync_replication}
  replicaCount: ${postgresql_replica_count}
  podAntiAffinityPreset: soft
  resources:
    requests:
      cpu: "${postgresql_requests_cpu}"
      memory: "${postgresql_requests_memory}"
    limits:
      cpu: "${postgresql_limits_cpu}"
      memory: "${postgresql_limits_memory}"

persistence:
  enabled: true
  storageClass: "${postgresql_storage_class}"
  size: "${postgresql_storage_size}"

pgpool:
  image:
    registry: docker.io
    repository: bitnamilegacy/pgpool
    tag: 4.6.3-debian-12-r0
  existingSecret: "${pgpool_secret_name}"
  adminUsername: "${pgpool_admin_username}"
  srCheckUsername: "${pgpool_sr_check_username}"
  replicaCount: ${pgpool_replica_count}
  podAntiAffinityPreset: soft
  resources:
    requests:
      cpu: "${pgpool_requests_cpu}"
      memory: "${pgpool_requests_memory}"
    limits:
      cpu: "${pgpool_limits_cpu}"
      memory: "${pgpool_limits_memory}"

service:
  type: "${pgpool_service_type}"

metrics:
  image:
    registry: docker.io
    repository: bitnamilegacy/postgres-exporter
    tag: 0.17.1-debian-12-r16
  enabled: ${enable_metrics}
  serviceMonitor:
    enabled: ${enable_service_monitor}
    namespace: "${service_monitor_namespace}"
